player-connection-mode=Listen
player-connection-guid=2150774947
player-connection-debug=0
player-connection-project-name=Senior_Project395
player-connection-ip=192.168.56.1
player-connection-ip=172.20.4.135
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
